<% @recipe_objects.each do |recipe| %>
<ul>
  <li><%= recipe.name %></li>
  <li><%= recipe.components %></li>
  <li><%= recipe.img_url %></li>
  <li><%#= image_tag "#{recipe.img_url[0]}" %></li>
</ul>
<hr>
<% end %>
