<%= @user.errors.full_messages.first if @user.errors.any? %>


<h3><%= current_user.username.titleize %>'s Favorite Recipes:</h3>

<% @user_favorites.each do |fav| %>
  <a href="#{fav.recipe_url}"><%= fav.name %></a><br>
<% end %>


