

<div class="row">
  <div class="small-6 large-centered columns">
    <div class="search_results">
     <%= form_for @user, :url =>user_path(@user), :method => :put do |f|  %>
     <% @ingredients.each do |item| %>
     <%= check_box_tag 'ingredient_ids[]', item.id %> <%= item.name %><br>
     <% end %>
     <%= f.submit :class => "button radius" %>
     <% end %>
   </div>
 </div>
</div>

