<div class="row">
<div class="small-6 large-centered columns">
  <div class="search-results">
  <ul class="pricing-table">
    <% if @search %>
      <% @ingredients.each do |item| %>
        <li class="bullet-item"><%= item.name %></li>
      <% end %>
    <% end %>
  </ul>
  </div>


</div>
</div>