<h3>Search results:</h3>
<%= form_for current_user, :remote => true do |f|  %>
<div class="search-results"> 
  <% @ingredients.each do |item| %>
  <%= check_box_tag 'ingredient_ids[]', item.id %> <%= item.name %><br>
  <% end %>  
</div>
<%= f.submit :value=>"Add to pantry", :class => "button radius" %>
<% end %>

