<h3>Your Pantry:</h3>

<!-- Search bar -->
<%= render partial: 'ingredients/search' %>

<!-- List of ingredients in your pantry-->
<%= render partial: 'ingredients/search_results' %>





<%= link_to "Get a recipe", "#" %>


