body {
  background: url("fridge-background.png") no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: top;*/
  margin: 0px;
}


#title{
 text-indent: -9999px;
}

.header{
  margin: 15px auto;
  text-align: center;
  width: 50%;
}

.header a {
  padding: 5px;
  text-decoration: none;
}

html #sign-up{
  display: block;
  padding-right: 30%;
  padding-left: 30%;
}

html #log-in{
  display: block;
  padding-right: 30%;
  padding-left: 30%;
}

.login-signup-container {
  margin-top: 150px;
}


#form {
  margin-top: 150px;
}

.search-results {
  background: rgba(255,255,255, .5);
  border-radius: 25px;
  padding: 10px;
  max-height: 300px;
  width: 200px;

  overflow: scroll;
}

/*navigation---------------------------*/

li {
  list-style-type: none;
}


/*html .top-bar {
  background-color: rgba(255,255,255, .5);
}*/
html .top-bar-section {
  padding-right: 20px;
}


/*users pantry--------------------------*/

.user_pantry{
  text-align: center;
  margin-top: 30px;
}

.user_pantry_div{
  margin-top: 200px;
}

/*#nacho-problem {
  position: relative;
  right: -350px;
}*/

.search-result-container {
  padding-right: 30px;
  padding-left: 30px;
}
















