body {
  background: url("fridge-background.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: top;*/
  margin: 0px;
}

.pantry-title {
  padding: 2%;
}

#title{
 text-indent: -9999px;
}

.header{
  margin: 15px auto;
  text-align: center;
  width: 50%;
}

.header a {
  padding: 5px;
  text-decoration: none;
}

html #sign-up{
  margin-top: 15%;
  display: none;
  padding-right: 30%;
  padding-left: 30%;
}

html #log-in{
  display: none;
  margin-top: 20%;
  padding-right: 30%;
  padding-left: 30%;
}

.login-signup-container {
  margin-top: 150px;
}


#form {
  margin-top: 150px;
}

.search-results {
  background: rgba(255,255,255, .9);
  position: center;
  border-radius: 25px;
  padding: 10px;
  max-height: 300px;
  width: 300px;
  overflow: scroll;
  margin: 0 auto;
}

/*navigation---------------------------*/

li {
  list-style-type: none;
}


/*html .top-bar {
  background-color: rgba(255,255,255, .5);
}*/
html .top-bar-section {
  padding-right: 20px;
}


/*users pantry--------------------------*/

.user_pantry{
  text-align: center;
  margin-top: 30px;
}

.user_pantry_div{
  margin-top: 200px;
}

/*#nacho-problem {
  position: relative;
  right: -350px;
}*/

.search-result-container {
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  text-align: center;
}

.search-result-container ul {
  text-align: left;
}

.search-results{
  text-align: left;
}

h3 {
  text-align: center;
}

.error{
  padding: 1%;
  margin: 1%, 0;
  color: white;
  background-color: #BF3030;
}

.notice{
  padding: 1%;
  margin: 1%, 0;
  color: white;
  background-color: #FFCA00;
}

.alert{
  padding: 1%;
  margin: 1%, 0;
  color: white;
  background-color: #007929;
}
/*-----------Result Page-------------*/

img {
  width: 100%;
  height: 50%;
}

.hidden {
  display: none;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-value {
  background-image:
     -webkit-linear-gradient(-45deg, 
                             transparent 33%, rgba(0, 0, 0, .1) 33%, 
                             rgba(0,0, 0, .1) 66%, transparent 66%),
     -webkit-linear-gradient(top, 
                             rgba(255, 255, 255, .25), 
                             rgba(0, 0, 0, .25)),
     -webkit-linear-gradient(left, #75bdd1, #5DE1F0);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}





