@media only screen and (max-width: 40em) { 

body {
  background: url("mobile-color.png") !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.search-result-container {
  padding: 0;
  margin-left: 0;
}


.user_pantry_div {
  margin-top: 0;
}

#results-container {
  background: url("mobile-color.png") !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.login-signup-container {
  margin-top: 0;
}

html #sign-up {
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}

html #log-in {
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.favorites {
  width: auto;
}

.recipes {
  max-width: 250px;
}

.foodpic {
  max-width: 200px;
  height: 50%;
}

.results {
  margin: 0 auto;
}

progress {
  max-width: 200px;
}

.pagination {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}







} /* max-width 640px, mobile-only styles, use when QAing mobile issues */