
<!-- nav bar links to user's pantry, logout button, feature creep: user's profile with favorites -->
<nav class="top-bar" data-topbar>
<section  class="top-bar-section">
<%= link_to "Log out", logout_path, :class => "right button radius" %>
<%#= link_to "Your Pantry", user_ingredients_path(user) %>
<%#= link_to "Your Profile", "#", :class => "right button radius" %>
</section>


</nav>