<div class="header">
<h1 id="title">It's Nacho Problem!</h1>

<!-- nav bar links to user's pantry, logout button, feature creep: user's profile with favorites -->

<%= link_to "Log out", logout_path, :class => "button" %> |
<%#= link_to "Your Pantry", user_ingredients_path(user) %> |
<%= link_to "Your Profile", "#", :class => "button" %>

</div>