
<nav class="top-bar" data-topbar>
<section class="top-bar-section">

  <% if !current_user %>
    <!-- <p><a id="sign-up-link" href="#">Sign Up!</a></p><br> -->
    <!-- <p><a id="login-link" href="#">Log In!</a></p> -->
    <%= link_to "Sign Up!", "#", :id => "sign-up-link", :class => "right button radius" %>
    <%= link_to "Log In!", "#", :id => "login-link", :class => "right button radius" %>
  <% else %>
    <%= link_to "#{current_user.username}", user_path(@user), :class => "right button radius" %>
    <%= link_to "Log out", logout_path, :class => "right button radius" %>
  <% end %>
</section>
</nav>
