<!-- <nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <%#= link_to "Pantry", user_ingredients_path(@user), :class => "right button radius" %>
    <%#= link_to "Favorites", user_path(@user), :class => "right button radius" %>

  </section>
</nav> -->

